*.v

PACK_Gen/Files/Examples/SPL_Build/
*.sfd
*.SFR
*.exe
*.dll
PACK_Gen/Milandr.MDR1986VExx.2.04.pack
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE1/Listings/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE1/Objects/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE4/Listings/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE4/Objects/flashprg_ve4.crf
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE4/Objects/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE8/Listings/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE8/Objects/flashprg_ve8_delays.crf
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE8/Objects/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE81/Listings/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE81/Objects/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE9x/Listings/
PACK_Gen/Files/Examples/All_Boards/EEPROM_FLM/test/FLM_Test_VE9x/Objects/
PACK_Gen/Milandr.MDR1986VExx.2.04.1.pack
PACK_Gen/Files/Examples/All_Boards/SSP_Test/SSP_TestVE8/Objects/
PACK_Gen/Files/Examples/All_Boards/SSP_Test/SSP_TestVE8/Listings/
PACK_Gen/Files/Examples/All_Boards/DMA_Test/DMA_ADC_PingPong/Objects/
PACK_Gen/Files/Examples/All_Boards/LedFlasher/VE8_OTP/Objects/
PACK_Gen/Files/Examples/All_Boards/LedFlasher/VE8_OTP/Listings/
PACK_Gen/Files/Examples/All_Boards/DMA_Test/DMA_ADC_PingPong/Listings/
*.scvd
PACK_Gen/Files/Examples/All_Boards/OTP/OTP_Test_VE8/Objects/
PACK_Gen/Files/Examples/All_Boards/OTP/OTP_Test_VE8/Listings/
PACK_Gen/Milandr.MDR1986VExx.2.05.pack
Utils/pyComPort/__pycache__/
Utils/pyComPort/Logs/
Utils/pyComTransferTest/__pycache__/
Utils/pyBasisCtrl/__pycache__/
PACK_Gen/Files/Examples/1923KX028/KX028_CLI_Test/Objects/
PACK_Gen/Files/Examples/1923KX028/KX028_CLI_Test/Listings/
